[Desktop Entry]
Name=Vdownloader
GenericName=Download Manager
Comment=Professional HTTP & BitTorrent download manager for VAXP-OS
Exec=vxap-downloader
Icon=org.vaxp.downloader
Terminal=false
Type=Application
Categories=Network;FileTransfer;P2P;GTK;
Keywords=download;torrent;magnet;http;ftp;manager;
StartupNotify=true
StartupWMClass=org.vaxp.downloader
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
